<h2 class="content-subhead">Table of Contents</h2>

<div class="pure-menu">
  <ul class="pure-menu-list">
    <% count = 0 %>
    <% @contents.each do |chapter| %>
    <% count = count + 1 %>
      <li class="pure-menu-item">
        <a 
        href=<%= "http://localhost:4567/chapters/#{count}"%> 
        class="pure-menu-link">
        <%= chapter %>
        </a>
      </li>
    <% end %>
  </ul>
</div>